.print_page {
	width: 251mm;
	height: 172mm;
	page-break-after: always;
	-webkit-print-color-adjust: exact;
	color: #646464;
}

.print_page:last-child {
	page-break-after: auto;
}

@media print {
	.noprint {
		display: none;
	}
	.noprint {
		display: none;
	}
}

.header_area {
	width: 251mm;
	height: 28mm;
}

.mark_area {
	margin-left: 50px;
}

.name_area {
	border-collapse: collapse;
	border: 1px #646464 solid;
	width: 60mm;
	height: 10mm;
	text-align: center;
	margin: -0.5mm 0 30px 0;
	float: right;
}

.name_area tr th {
	border: 1px #646464 solid;
	font-size: 20px;
	width: 60mm;
	height: 10mm;
	padding: 0px;
}

.name_area tr td {
	border: 1px #646464 solid;
	font-size: 15px;
	height: 10mm;
	padding: 0px;
}

.mark_sheet {
	border-collapse: collapse;
	border: 1px #000000 solid;
	text-align: center;
	font-size: 50%;
	margin-right: 12px;
	float: left;
}

.mark_sheet table, td, th {
	border-collapse: collapse;
	border: 1px solid #646464;
}

.mark_cell {
	width: 12px;
	color: #646464;
}

.marked_cell {
	background-color: #000;
	color: #000;
	width: 12px;
}

.mark_cell_index {
	width: 13px;
}

.row {
	height: 25px !important;
}

.row:nth-child(even) {
	background-color: #eee;;
}

.check_point {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #000;
}