@charset "utf-8";
.print_page {
	size: A4 landscape
	margin: 0px 0px 0px 0px;
	page-break-after: always;
}

.print_page:last-child {
	page-break-after: auto;
}

@page {
  size: A4 landscape;
  margin: 0px 0px 0px 0px;
}

@media print {
	.print_page {
		margin: 100px 0px 0px 50px;
	}
	.noprint {
		display: none;
	}
}

.member_info {
	border-collapse: collapse;
	border: 1px #000000 solid;
	width: 300px;
	height: 50px;
	text-align: center;
	margin: -30px 0 30px 0;
}

.member_info tr th {
	border: 1px #000000 solid;
	font-size: 25px;
	padding: 0px;
}

.member_info tr td {
	border: 1px #000000 solid;
	font-size: 20px;
	padding: 0px;
}

.score_info {
	border-collapse: collapse;
	border: 1px #000000 solid;
	width: 500px;
	height: 50px;
	text-align: center;
}

.score_info tr th {
	border: 1px #000000 solid;
	width: 500px;
	font-size: 20px;
	padding: 0px;
}

.score_info tr td {
	border: 1px #000000 solid;
	width: 500px;
	font-size: 18px;
	padding: 0px;
}

.print_title {
	font-size: 50px;
}